html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
  }
  

  /* For menu-toggle */
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-toggle span {
    height: 3px;
    width: 25px;
    background-color: #373434;
    margin: 5px 0;
    display: block;
  }
  /* main styles */
  main{
    position: relative;
    display: block;
  }

  #site_img{
    position: relative;
    /* background-image: url('../images/personal_opacity.jpg'); */
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 20rem;
    top: 10%;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10%;
    padding: 15%;
    text-align: center;
  }
  .site_hint{
    position: relative;
    display: block;
    padding-top: 0;
    align-items: center;
    font-family: 'News Cycle', sans-serif;
    border-radius: 5px;
  }
  .site_hint p{
    font-weight: bold;
    font-style: normal;
    color: #000;
  }
  .site_hint:hover{
    border: 1px solid #c87e65;
  }

  button {
    display: inline-block;
    padding: 3px 20px 3px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 2px 4px 8px rgb(74, 83, 87);
    margin-bottom: 30px;
  }

    /* Default button styles */
  .button-default {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #fff;
  }

  /* Hover styles */
  .button-default:hover {
    background: linear-gradient(to right, #523312, #d67272);
  }

  /* Courses enrolled */

  .course{
    color: #fff;
  }
  .courses_heads{
    position: relative;
    display: flex;
    color: #fff;
    margin: 5%;
    margin-bottom: 5%;
    justify-content: center;
  }
  .courses_heads p{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'News Cycle', sans-serif;
  }
  .courses_heads .button-default{
    font-size: 14px;
    padding: 0 20px 0 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .courses_heads h1{
    font-size: 26px;
  }
  .courses_heads h1:hover{
    color: #4d9ffc;
  }
  .course_c1{
    width: 15%;
    padding: 5%;
    margin: 5%;
    border-radius: 10px;
    font-family: 'News Cycle', sans-serif;
  }

  #course_1{
    position: relative;
    display: block;
    /* background-image: url('/smiling lapgrl.jpg'); */
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    top: 10%;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  #course_2{
    position: relative;
    display: block;
    background-position: center;
    /* background-image: url('/mansmiling.jpg'); */
    background-size:cover;
    background-repeat: no-repeat;
    top: 10%;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  #course_3{
    position: relative;
    display: block;
    /* background-image: url('/pexels-fauxels-3184339.jpg'); */
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    top: 10%;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .course_c2{
    position: relative;
    display: block;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 15rem;
    box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.1);
    padding-left: 5%;
    padding-top: 5%;
    
    border-radius: 10px;
  }
  .course_c2 p{
    position: relative;
    display: block;
    text-align: left;
    color: #fff;
    font-weight: bold;
  }
  /* p styles */
  #C_wk{
    color: #000;
    font-size: 14px;
  }
  #course_title{
    font-size: 26px;
    color: #000;
    font-weight: bold;
  }
  #course_title:hover{
    color: #bf0909;
  }

  .course_text {
    font-family: 'News Cycle', sans-serif;
    color: #000;
  }
  .course_text a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  .course_text a:hover{
    color: #bf0909;
  }
  /* ?\courses images */

  .cr_feat .feat{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 15px 0 15px;
    bottom: 2em;
  }
  .cr_feat .feat a{
    text-decoration: none;
    color: #000;
  }
  .cr_feat .feat li:hover{
    background: linear-gradient(to right, #744e25, #d67272);
    border-radius: 10px;
    color: #fff;
  }

 @media screen and (max-width: 825px) {
      #course_title{
        font-size: 23px;
      }
 }

  @media screen and (max-width: 760px) {
      
      .menu-toggle {
        display: flex;
      }
      #site_img{
        top:3rem;
        height:30rem;
      }

          /* Courses enrolled */
      /* .courses_info{
        margin-bottom: 2rem;
      } */
      
      .courses_heads{
        position: relative;
        display: block;
        margin-left: 15%;
        top: 60px;
      }
      .course_c1{
        width: 70%;
        padding: 5%;
        margin: 5%;
      }

      /* courses_infor */
      
      #myCourse{
        position: relative;
        display: block;        
      }
      .course_c2{
        height: 10rem;
      }

      #C_wk{
        font-size: 14px;
      }
      #course_title{
        font-size: 26px;
      }
      .cr_feat{
        margin: 0 30px 0 30px;
        margin-top: 140px;
      }
      .cr_feat .feat{
        position: relative;
        font-size: 10px;
        padding: 3px 10px 0 10px;
      }
      /* ?\courses images */
      .cr_feat .feat a{
        text-decoration: none;
        color: #000;
      }
      .cr_feat .feat li:hover{
        background: linear-gradient(to right, #744e25, #d67272);
        border-radius: 10px;
        color: #fff;
      }
  }

@media screen and (max-width: 465px) {
  .feat{
    margin-top: 5rem;
  }
}

@media screen and (max-width: 470px) {
      .cr_feat{
        margin: 0 15% 0 15%;
        font-size: 9px;
      }
      .cr_feat .feat{
        font-size: 9px;
        padding: 0 5px 0 5px;
      }
}

@media screen and (max-width: 380px) {
      .cr_feat{
        margin: 0 10% 0 10%;
        margin-top: 20em;
      }
      .cr_feat .feat{
        position: relative;
        display: inline-block;
        font-size: 9px;
        padding: 10px;
        padding-left: 2em;
        margin: 0;
      
      }
}